body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fd7e14;
  max-width: 850px;
  margin: 50px auto;
  background-image: url(images/sky.jpeg);
  background-size: 100%;
}

.weather-app {
  max-width: 850px;
  margin: 20px auto;
  padding: 20px;
  border: 3px solid #fd7e14;
  border-radius: 5px;
}
h1 {
  font-size: 38px;
  padding: 20px;
  text-shadow: 3px 3px 6px #2c2825;
}
h2,
h3 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  text-shadow: 3px 3px 6px #2c2825;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-weight: 600;
  font-size: 22px;
}
a {
  text-decoration: none;
}
.description {
  font-size: 40px;
  padding: 20px;
  text-transform: capitalize;
}
.description small {
  position: relative;
  font-size: 20px;
  top: -18px;
}

.active {
  color: #fd7e14;
  cursor: default;
}
.celcius-link:hover {
  text-decoration: none;
}
img {
  font-weight: 900;
}
.link {
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
}
.work-signature {
  color: black;
  font-size: 18px;
  font-weight: 700;
}
.weather-forecast {
  font-weight: 700;
  font-size: 22px;
  color: #fd7e14;
  text-align: center;
}
.weather-forecast-temperature {
  font-size: 20px;
  color: black;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
  font-size: 20px;
  color: black;
}
